<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.ruby.debug.core.remoteDebuggerLaunchConfigurationType">
<stringAttribute key="com.aptana.ruby.debug.ATTR_REMOTE_HOST" value="localhost"/>
<stringAttribute key="com.aptana.ruby.debug.ATTR_REMOTE_PORT" value="1234"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
</launchConfiguration>
